.slider-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.slider-container .slider-btn {
  width: 56px !important;
  height: 56px !important;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 12px;
}

.slider-container .slider-btn:disabled {
  cursor: not-allowed;
}

.slider-container .slider-btn:disabled img {
  opacity: 0.3;
}

.slider-container .slider-btn img {
  width: 7px;
  height: 16px;
  object-fit: fill;
}

.slider-panel {
  width: 960px;
  height: 320px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider-panel::-webkit-scrollbar {
  display: none;
}

.slide {
  scroll-snap-align: start;
  min-width: 100%;
  display: flex;
}

.slide img {
  width: 320px;
  height: 320px;
  border-radius: 20px 0px 0px 20px;
}

.slide-content {
  flex-grow: 1;
  background-color: #f7f7f7;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-con {
  padding: 40px;
}

.text-Con {
  height: 120px;
  background-color: rgba(2, 10, 25, 0.05);
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-con h4 {
  font-size: 24px;
  font-weight: bold;
}

.text-Con .name-text {
  font-size: 20px;
  font-weight: bold;
  color: #020a19;
}

.text-Con .detail {
  font-size: 14px;
  color: #020a19;
  opacity: 0.7;
}

.text-Con .detail p {
  line-height: 15px;
}

@media (max-width: 1280px) {
  .slider-panel {
    width: 780px;
  }

  .slide img {
    width: 240px;
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .slider-container {
    padding-bottom: 90px !important;
    width: 100%;
    position: relative;
  }

  .slider-btn {
    position: absolute;
    bottom: 0;
  }

  .prev {
    left: 42.5%;
    /* transform: translateX(-40%); */
  }

  .next {
    right: 42.5%;
    /* transform: translateX(-60%); */
  }

  .slider-panel {
    width: 100% !important;
  }

  .slide img {
    width: 25% !important;
  }
}

@media (max-width: 900px) {
  .prev {
    left: 41% !important;
  }

  .next {
    right: 41% !important;
  }
}

@media (max-width: 768px) {
  .slider-container {
    width: 400px !important;
    overflow: hidden;
    height: fit-content !important;
    padding-bottom: 70px !important;
    height: auto;
  }

  .slide-content {
    width: 400px !important;
    text-align: center;
    border-radius: 0px;
    height: auto;
  }

  .slider-panel {
    width: 100% !important;
    max-width: 100%;
    height: auto;
    align-items: flex-start;
  }

  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    height: auto;
    max-height: 500px;
    transition: max-height 2s ease-in-out;
    animation: expandHeight 2s ease-in-out forwards;
  }

  .slide img {
    min-width: 400px !important;
    height: 400px !important;
    border-radius: 0px;
  }

  .title-con {
    padding: 20px 20px 30px;
    height: auto;
  }

  .title-con h4 {
    font-size: 20px;
  }

  .text-Con {
    padding: 12px 20px;
    height: auto;
  }

  .prev {
    left: 30% !important;
  }

  .next {
    right: 35% !important;
  }
}

@media (max-width: 640px) {
  .slider-container {
    width: 280px !important;
    max-width: 100% !important;
  }

  .slide-content {
    width: 280px !important;
    max-width: 100% !important;
  }

  .title-con h4 {
    font-size: 16px !important;
  }

  .name-text {
    font-size: 14px !important;
  }

  .detail {
    font-size: 12px !important;
  }

  .prev {
    left: 20% !important;
  }

  .next {
    right: 20% !important;
  }
}

@keyframes expandHeight {
  from {
    max-height: 500px;
  }

  to {
    max-height: 1000px;
    /* Use an estimated max height */
  }
}
