.intro-bg {
  background-color: var(--clr-primary);
  padding-block: 130px 60px;
}
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
}
.intro-content {
  max-width: 554px;
}
.intro-title {
  color: var(--clr-white);
  font-size: 42px;
}
.intro-label {
  color: var(--clr-f3);
}
.intro-text {
  color: var(--clr-f2);
  margin-bottom: 16px;
}
.email {
  display: flex;
  gap: 10px;
}
.email-input input {
  background-color: var(--clr-white);
  outline: none;
  border: none;
  font-size: 17px;
  padding-inline: 10px;
  line-height: 21px;
  width: 280px;
  border-radius: 3px;
  height: 52px;
}
.email-input input::placeholder {
  color: #c6c6c6;
}

.submit-btn {
  flex: 1;
}
.error-label {
  text-align: center;
  color: var(--clr-white);
  font-size: 15px;
  opacity: 0;
  transition: 1s linear;
}
.error-label.active {
  opacity: 1;
}
.intro-img {
  position: relative;
}
.tag-1 {
  position: absolute;
  top: 14%;
  left: 5%;
  z-index: 2;
}
.tag-2 {
  position: absolute;
  top: 40%;
  right: -6%;
}
.tag-3 {
  position: absolute;
  bottom: 13%;
  right: 26%;
  z-index: 6;
}
.black-img {
  max-width: 610px;
}
.black-img img {
  width: 100%;
}
.light-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  pointer-events: none;
}

@media screen and (max-width: 1280px) {
  .intro {
    flex-direction: column-reverse;
  }
  .intro-content {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .intro {
    flex-direction: column-reverse;
  }
  .intro-content {
    text-align: center;
  }
  .email {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .submit-btn {
    padding: 15.5px;
    line-height: 21px;
    width: 280px;
    border-radius: 3px;
    height: 52px;
  }
}

@media screen and (max-width: 745px) {
  .tag-1 {
    top: 15%;
    left: 12%;
  }
  .tag-2 {
    right: -4%;
  }
}

@media screen and (max-width: 680px) {
  .tag-1 {
    top: 12%;
    left: 14%;
  }
  .tag-2 {
    right: -2%;
  }
}

@media screen and (max-width: 580px) {
  .tag-1 {
    top: 8%;
    left: 6%;
  }
}
.blog-bg {
  background-color: var(--clr-blue);
}
.blog {
  display: flex;
  justify-content: space-between;
  padding-block: 30px;
}
.blog-div {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}
.blog-item {
  max-width: 340px;
  padding-inline: 45px;
  cursor: pointer;
  transition: 0.4s linear;
}
.blog-item:hover {
  transform: translateY(-6px);
}
.blog-item img {
  max-width: 156px;
  min-width: 82px;
  max-height: 25px;
  margin-bottom: 12px;
}
.blog-text {
  color: var(--clr-f2);
  line-height: 22px;
}

@media screen and (max-width: 1200px) {
  .blog-item {
    padding-inline: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .intro-title {
    font-size: 34px;
  }
}

@media screen and (max-width: 770px) {
  .blog {
    flex-direction: column;
    padding-block: 0px;
  }

  .blog-item {
    padding-block: 45px;
    align-self: center;
    text-align: center;
  }
  .blog-div {
    width: 107px;
    align-self: center;
  }
}
